/* style */
body {
    background: rgb(246,218,195);
    background: linear-gradient(90deg, rgba(246,218,195,1) 13%, rgba(148,187,233,1) 51%, rgba(233,148,205,1) 81%);
    height: 100vh;
}

.ec-rose {
    background-color: beige;
}